@charset "utf-8";
@media print {
/* ============================================================
＠＠
プリント用

%update / 2013.02.07

------------------
【目次】
------------------
▼clearfix
▼pageAll
▼ContentWrap
▼Other
============================================================ */

/* ------------------------------------------------------------
▼clearfix
------------------------------------------------------------ */
.cmClearfix:after {
	height: 1px;
}


/* ------------------------------------------------------------
▼pageAll
------------------------------------------------------------ */
html,
body {
	width: 100%;
	background: #ffffff;
}
* html body { zoom: 0.74; }  /* for IE6 */
#HeaderArea {
	height: 125px;
}

/* ------------------------------------------------------------
▼ContentWrap
------------------------------------------------------------ */
html>/**/body #HeaderArea,
html>/**/body #MainContentArea,
html>/**/body #FooterArea,
{  /* for mordern except IE7 */
	width : 100%;
}

/* ------------------------------------------------------------
▼Other
------------------------------------------------------------ */


/* プリント用 終了
============================================================ */
}  /* /@media print */
